 {% extends "encyclopedia/layout.html" %}
{% block title %}HTML{% endblock %}
{% block body %}
<h1>HTML</h1>

<p>HTML is a markup language that can be used to define the structure of a web page. HTML elements include</p>

<p>salam</p>

<ul>
<li><p>headings</p></li>





<li><p>paragraphs</p></li>





<li><p>lists</p></li>





<li><p>links</p></li>





<li><p>and more!</p></li>
</ul>

<p>The most recent major version of HTML is HTML5.</p>

<p><a href="/edit/HTML">edit</a></p>

{% endblock %}
